<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/assets/css/fontawesome-all.css" rel="stylesheet" id='fontawesome-all'>
    <link href="/assets/css/login.css" rel="stylesheet" id='logincss'>
    <script src="/assets/js/bootstrap.min.js"></script>
    <title>Login</title>
  </head>
  <body class="text-center backgroundImg">
    <% include nav %>
      <section class=" text-cente" id="indexTitle">
      <div class="container mt-5 pt-5 pb-5 align-middle blur">
        <h1 class="jumbotron-heading text-white font-weight-bold titleh1">Bienvenue Sur Board</h1>
        <h2 class="lead text-white font-weight-bold titleh2">Board est une application utilisant les dernieres technologies du momement. Pour le moment, board est en developpement.</h2>
        <p>
          <a href="/auth/login" class="btn btn-dark font-weight-bold titlebutton">Se connecter</a>
          <a href="/auth/register" class="btn btn-secondary font-weight-bold titlebutton">S'inscrire</a>
        </p>
      </div>
    </section>


</body>
</html>
