<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/assets/css/fontawesome-all.css" rel="stylesheet" id='fontawesome-all'>
    <link href="/assets/css/login.css" rel="stylesheet" id='logincss'>
    <script src="/assets/js/bootstrap.min.js"></script>
    <title>Login</title>
  </head>
  <body class="text-center">
    <% include nav %>
      <section class="jumbotron blur text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Bienvenue Sur Board</h1>
        <p class="lead text-black">Board est une application utilisant les dernieres technologies du momement. Pour le moment, board est en developpement.</p>
        <p>
          <a href="/auth/login" class="btn btn-dark">Se connecter</a>
          <a href="/auth/register" class="btn btn-secondary">S'inscrire</a>
        </p>
      </div>
    </section>

    <div class="container">
      <i class="fas fa-hand-spock fa-10x"></i>
    </div>

</body>
</html>
