<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/assets/css/fontawesome-all.css" rel="stylesheet" id='fontawesome-all'>
    <link href="/assets/css/login.css" rel="stylesheet" id='logincss'>
    <script src="/assets/js/bootstrap.min.js"></script>
    <title>Login</title>
  </head>
  <body class="text-center">
    <% include nav %>

<div class="container">
  <form class="mt-5 pt-5 form-signin">
    <i class="fas fa-sign-in-alt fa-7x"></i>
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

    <!--
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
  -->

    <button class="btn btn-lg btn-dark btn-block" type="submit">Se connecter</button>
    <a class="btn btn-lg btn-warning btn-block" href="/auth/google" role="button">
      <i class="fab fa-google-plus-g"></i>
    </a>
    <div class="mt-2 mb-3">
      <a class="mt-3 mb-3 text-muted" href="/auth/register">Creer un compte</a>
    </div>

  </form>
  <p class="mt-5 mb-3 text-muted">© Ewann Pellé</p>

</div>


</body>
</html>
