html,
body {
  height: 100%;
  width: 100%;
}
.backgroundImg{
  background-image: url(/assets/images/desk.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-dark .navbar-nav .nav-link{
  color: white
}
.blur{
  background-color: #64646899;
}
.text-black{
  color: #212529;
}
.text-white{
  color: white;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.titleh1{
  font-size: 4em;
}
.titleh2{
  font-size: 2em;
}
.titlebutton{
  font-size: 1.2em;
}
#mainNav {
background-color: #181a1d !important;
}
#indexTitle{
  margin-top: 10%;
}
